# Phase 1

The first phase of the case study involves four sections – (1) dataset description, (2) data cleaning, (3) Exploratory Data Analysis, and (4) research question.

## Dataset Description

Each group should select one real-world dataset from the list of datasets provided for the project. Each dataset has a description file, which also contains a detailed description of each variable.

In this section of the notebook, you must fulfill the following:

- State a brief description of the dataset.
- Provide a description of the collection process executed to build the dataset.
- Discuss the implications of the data collection method on the generated conclusions and insights.
- Note that you may need to look at relevant sources related to the dataset to acquire necessary information for this part of the project.
- Describe the structure of the dataset file.
  - What does each row and column represent?
  - How many observations are there in the dataset?
  - How many variables are there in the dataset?
  - If the dataset is composed of different files that you will combine in the succeeding steps, describe the structure and the contents of each file.
- Discuss the variables in each dataset file. What does each variable represent? All variables, even those which are not used for the study, should be described to the reader. The purpose of each variable in the dataset should be clear to the reader of the notebook without having to go through an external link.

## Data Cleaning

For each used variable, check all the following and, if needed, perform data cleaning:

- There are multiple representations of the same categorical value.
- The datatype of the variable is incorrect.
- Some values are set to default values of the variable.
- There are missing data.
- There are duplicate data.
- The formatting of the values is inconsistent.

**Note**: No need to clean all variables. Clean only the variables utilized in the study.

## Exploratory Data Analysis

Perform exploratory data analysis comprehensively to gain a good understanding of your dataset. This step should help in formulating the research question of the project.

In this section of the notebook, you must fulfill the following:

- Identify **at least 4 exploratory data analysis questions**. Properly state the questions in the notebook. Having more than 4 questions is acceptable, especially if this will help in understanding the data better.
- Answer the EDA questions using both:
  - **Numerical Summaries** – measures of central tendency, measures of dispersion, and correlation.
  - **Visualization** – Appropriate visualization should be used. Each visualization should be accompanied by a brief explanation.

**To emphasize, both numerical summary and visualization should be presented for each question.**  
The whole process should be supported with verbose textual descriptions of your procedures and findings.

## Research Question

Come up with one (1) research question to answer using the dataset. Here are some requirements:

- **Important**: The research question should arise from exploratory data analysis. There should be an explanation regarding the connection of the research question to the answers obtained from performing exploratory data analysis.
- The research question should be within the scope of the dataset.
- The research question should be answerable by performing data mining techniques (i.e., rule mining, clustering, collaborative filtering). Students cannot use other techniques that are not covered in class.
- Make sure to indicate the importance and significance of the research question.

In [1]:
# Import necessary libraries
import pandas as pd
import numpy as np
import matplotlib as plt

In [2]:
# List of columns

# Load the CSV file
file_path = './SOF PUF 2015.csv'
data = pd.read_csv(file_path)

# Rename all columns to human-readable names
data = data.rename(columns = {
    "RREG": "region",
    "HHNUM": "hhnum",
    "RRPL": "sample_replicate",
    "RSTR": "sample_stratum",
    "RPSU": "sample_psu",
    "RROTATION": "sample_rotation",
    "RSWGT": "sample_weight",
    "RP6M_IND": "sample_in_past_6m",
    
    "RQ1_LNO": "line_num",
    "RQ2_REL": "relationship_to_head",
    "RQ3_SEX": "sex",
    "RQ4_AGE": "age",
    "RQ5_TMSLEFT": "times_left",
    "RQ6M_DTLEFT": "date_left_m",
    "RQ6Y_DTLEFT": "date_left_y",
    "RQ7_MSTAT": "marital_status",
    "RQ8_HGRADE": "highest_grade_completed",
    "RQ9_USOCC": "occupation_home",
    "RQ10_REASON": "leaving_reason",
    "RQ11_BASE": "base",
    "RQ12_CTRY": "country",
    "RQ13_STAY": "length_of_stay",
    "RQ14_INDWORK": "has_worked",
    "RQ15_OCCUP1": "occupation_overseas",
    "RQ16_NOMONTH": "no_of_months_worked",
    "RQ17_RET": "returned_home",
    "RQ18M_DTRET": "date_returned_m",
    "RQ18Y_DTRET": "date_returned_y",
    "RQ19_REASON": "return_reason",
    "RQ20M_DTEXP": "expected_return_m",
    "RQ20Y_DTEXP": "expected_return_y",
    "RQ21_CASHREM": "received_remittance",
    "RQ22_CASHAMT": "rem_amt",
    "RQ23_MODE": "rem_mode",
    "RQ241C_CONSUM": "rem_c_consumption",
    "RQ241P_CONSUM": "rem_p_consumption",
    "RQ242C_INVEST": "rem_c_investment",
    "RQ242P_INVEST": "rem_p_investment",
    "RQ243C_SAVINGS": "rem_c_savings",
    "RQ243P_SAVINGS": "rem_p_savings",
    "RQ244C_GIFT": "rem_c_gifts",
    "RQ244P_GIFT": "rem_p_gifts",
    "RQ245C_OTHERS": "rem_c_other",
    "RQ245P_OTHERS": "rem_p_other",
    "RQ25_RET6MOS": "returned_last_6m",
    "RQ26_CASHHOME": "cash_brought_home",
    "RQ27_INKIND": "goods_received",
    "RQ28_KINDAMT": "goods_value",
})
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5440 entries, 0 to 5439
Data columns (total 48 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   region                   5440 non-null   int64
 1   hhnum                    5440 non-null   int64
 2   sample_replicate         5440 non-null   int64
 3   sample_stratum           5440 non-null   int64
 4   sample_psu               5440 non-null   int64
 5   sample_rotation          5440 non-null   int64
 6   line_num                 5440 non-null   int64
 7   relationship_to_head     5440 non-null   int64
 8   sex                      5440 non-null   int64
 9   age                      5440 non-null   int64
 10  times_left               5440 non-null   int64
 11  date_left_m              5440 non-null   int64
 12  date_left_y              5440 non-null   int64
 13  marital_status           5438 non-null   float64
 14  highest_grade_completed  5440 non-null   int64
 15  occupation_home          5440 non-null   int64
 16  leaving_reason           5440 non-null   int64
 17  base                     5012 non-null   float64
 18  country                  5440 non-null   int64
 19  length_of_stay           5440 non-null   int64
 20  has_worked               5440 non-null   int64
 21  occupation_overseas      5067 non-null   float64
 22  no_of_months_worked      5067 non-null   float64
 23  returned_home            5440 non-null   int64
 24  date_returned_m          1259 non-null   float64
 25  date_returned_y          1259 non-null   float64
 26  return_reason            1259 non-null   float64
 27  expected_return_m        4181 non-null   float64
 28  expected_return_y        4181 non-null   float64
 29  received_remittance      5440 non-null   int64
 30  rem_amt                  4003 non-null   float64
 31  rem_mode                 4003 non-null   float64
 32  rem_c_consumption        3933 non-null   float64
 33  rem_p_consumption        3933 non-null   float64
 34  rem_c_investment         1079 non-null   float64
 35  rem_p_investment         1079 non-null   float64
 36  rem_c_savings            1564 non-null   float64
 37  rem_p_savings            1564 non-null   float64
 38  rem_c_gifts              537 non-null    float64
 39  rem_p_gifts              537 non-null    float64
 40  rem_c_other              48 non-null     float64
 41  rem_p_other              48 non-null     float64
 42  returned_last_6m         5440 non-null   int64
 43  cash_brought_home        975 non-null    float64
 44  goods_received           5440 non-null   int64
 45  goods_value              814 non-null    float64
 46  sample_weight            5440 non-null   float64
 47  sample_in_past_6m        5362 non-null   float64
dtypes: float64(25), int64(23)
memory usage: 2.0 MB

definitions of variables have been sourced from Philippine Statistics Authority [here](https://psada.psa.gov.ph/catalog/128/data-dictionary/F3?file_name=sof2015_rev)
## Sampling data
* `region` --- region
  * Most values from 1-14 and 16 all have expected data
  * Value 4 does not exist, seems to have been split. Instead, 41 and 42 exist and match to CALABARZON and MIMAROPA, then both classified as Region 4
  * Bangsamoro is classified as 15 instead of present-day 17
* `hhnum` --- unique household serial number
  * this value is *not* technically unique, hoever identifies a unique household
  * duplicate values indicate multiple OFWs from the same household, which is instead differentiated by `RQ1_LNO`. In theory, there should be no two rows with the same `hhnum` and `line_num`
* `sample_replicate` --- Replicate, group of the PSU
  * value between 1-4
* `sample_stratum` --- stratum
  * should be regionally unique, assume it is
* `sample_psu` --- Primary Sampling Unit number
  * represents original sample groups
  * should be nationally unique, assume it is
* `sample_rotation` --- rotation group
  * value that is either 26 or 28
* `sample_weight` --- weight assigned to each responding unit
* `sample_in_past_6m` --- past six months indicator
 
## Questionnaire Data
* `line_num` --- line number
  * each household member is assigned a different `LNO`, should be unique within the family
* `relationship` --- relationship codes
* `sex` --- gender and sex
* `age` --- age
  * there are people under 18 in this dataset, one is unfortunately not an outlier
* `times_left` --- times that this person leave for abroad
* `date_left_m` and `date_left_y` --- date in month and year that this person last left the country
  * a month of 99 indicates that this person doesn't recall it during the survey
* `marital_status` --- marital status
* `highest_grade_completed` --- highest level of education completed by this person
  * there are 14 values with a value of an undefined 90, which was turned into n/a
* `occupation_home` --- occupation within the Philippines
* `occupation_overseas` --- occupation outside the Philippines
  * both are encoded under codes in 1992 PSOC
* `leaving_reason` --- reason for leaving
* `base` --- land-based or sea-based worker?
* `country` --- numeric country code of the country this person is in
* `length_of_stay` --- amount of months this person is planning to stay abroad
  * some do not plan to return, these values are marked as `inf`
* `has_worked` --- had a job or business anytime, bool
* `no_of_months_worked` --- number of months worked during the last five years
* `returned_home` --- has this person returned home since their last departure? bool
* `return_reason` --- reason for returning to the Philippines
* `date_returned_m` and `date_returned_y` --- date in month and year that this person returned to the Philippines
* `expected_returned_m` and `expected_returned_y` --- date in month and year that this person is expected to return to the Philippines
* `received_remittance` --- whether the family has received a remittance from this person, bool
* `rem_amt` --- amount of remittance the family has received from them
* `rem_mode` --- how the family receives the remittance
  * there are numerous rows with an undefined `5` value, which has been considered as `Other`
* `rem_c_consumption`, `rem_c_investment`, `rem_c_savings`, `rem_c_gift`, `rem_c_other` --- was the remittance from this person spent this way? bool
* `rem_p_consumption`, `rem_p_investment`, `rem_p_savings`, `rem_p_gift`, `rem_p_other` --- percent of remittance used this way
* `returned_last_6m` --- has this person returned between April and Sept 2015? bool
* `cash_brought_home` --- cash brought home by a returning OFW between April and Sept 2015
  * all values are in Philippine Peso
* `goods_received` --- has the family received goods between April and Sept 2015? bool
* `goods_value` --- imputed value of all the goods that the OFW has brought home for the family during this period

## Data cleaning

In [3]:
# Verifying duplicates in the HHNUM/RQ1_LNO column
data[data.duplicated(["hhnum", "line_num"], False)]

,region,hhnum,sample_replicate,sample_stratum,sample_psu,sample_rotation,line_num,relationship_to_head,sex,age,...,rem_c_gifts,rem_p_gifts,rem_c_other,rem_p_other,returned_last_6m,cash_brought_home,goods_received,goods_value,sample_weight,sample_in_past_6m
408,1,347,4,26203,1002,28,81,1,1,70,...,NaN,NaN,NaN,NaN,1,150000.0,1,15000.0,482.6119,NaN
410,1,347,4,26203,1002,28,81,3,1,26,...,NaN,NaN,NaN,NaN,1,70000.0,1,11000.0,482.6119,NaN
771,2,645,3,25120,1640,28,3,3,1,33,...,NaN,NaN,NaN,NaN,2,NaN,2,NaN,410.9028,1.0
772,2,645,3,25120,1640,28,3,3,1,33,...,NaN,NaN,NaN,NaN,2,NaN,2,NaN,410.9028,1.0
5060,41,4278,4,11006,5051,28,3,5,1,32,...,NaN,NaN,NaN,NaN,2,NaN,2,NaN,1297.8583,1.0
5062,41,4278,4,11006,5051,28,3,5,1,32,...,NaN,NaN,NaN,NaN,2,NaN,2,NaN,1297.8583,2.0

In [4]:
# A duplicate in the dataset seem to have had a typo in its line_num, adjust it manually
data.loc[746, "line_num"] = 3
data.loc[746, "line_num"] = 3

# clean other duplicates
# `keep = last`, as it's likely that changes (if any) to other values are an attempt at an update
data.drop_duplicates(["hhnum", "line_num"], keep = "first", inplace = True)

# To verify that these duplicates are in fact gone:
data[data.duplicated(["hhnum", "line_num"], False)]

Empty DataFrame
Columns: [region, hhnum, sample_replicate, sample_stratum, sample_psu, sample_rotation, line_num, relationship_to_head, sex, age, times_left, date_left_m, date_left_y, marital_status, highest_grade_completed, occupation_home, leaving_reason, base, country, length_of_stay, has_worked, occupation_overseas, no_of_months_worked, returned_home, date_returned_m, date_returned_y, return_reason, expected_return_m, expected_return_y, received_remittance, rem_amt, rem_mode, rem_c_consumption, rem_p_consumption, rem_c_investment, rem_p_investment, rem_c_savings, rem_p_savings, rem_c_gifts, rem_p_gifts, rem_c_other, rem_p_other, returned_last_6m, cash_brought_home, goods_received, goods_value, sample_weight, sample_in_past_6m]
Index: []

[0 rows x 48 columns]

In [5]:
# Mapping values from REGION
data["region"] = data["region"].astype("category").map({
    1: "Ilocos",
    2: "Cagayan Valley",
    3: "Central Luzon",
    41: "CALABARZON",
    42: "MIMAROPA",
    5: "Bicol",
    6: "Western Visayas",
    7: "Central Visayas",
    8: "Eastern Visayas",
    9: "Zamboanga",
    10: "Northern Mindanao",
    11: "Davao",
    12: "SOCCKSARGEN",
    13: "National Capital Region",
    14: "Cordilleras",
    15: "Bangsamoro", # ARMM in 2015
    16: "CARAGA",
    # Negros Island Region didn't exist yet
})

In [6]:
# Mapping values from RQ2_REL
data["relationship_to_head"] = data["relationship_to_head"].astype("category").map({
    1: "Head",
    2: "Spouse",
    3: "Child",
    4: "Sibling",
    5: "Child-in-law",
    6: "Grandchild",
    7: "Parent",
    8: "Other relative",
    11: "Non-relative",
})

In [7]:
data["sex"] = data["sex"].astype("category").map({
    1: "Male",
    2: "Female",
})

In [8]:
data["leaving_reason"] = data["leaving_reason"].astype("category").map({
    1: "Contract Worker",
    2: "Non-OCW Worker",
    
    # Primarily for debugging
    3: "Philippine Embassy/Consulate",
    4: "Tourist",
    5: "Student",
    6: "Immigrant",
    7: "Official Mission",
    8: "Other",
})

In [9]:
data["marital_status"] = data["marital_status"].astype("category").map({
    1: "Single",
    2: "Married",
    3: "Widowed",
    4: "Divorced",
    5: "Live-in",
    6: "Unknown",
})

In [10]:
data["return_reason"] = data["return_reason"].astype("category").map({
    1: "Visit friends and relatives",
    2: "End of contract",
    3: "Other",
})

In [11]:
data["rem_mode"] = data["rem_mode"].astype("category").map({
    1: "Bank",
    2: "Agency/local office",
    3: "Friends/co-workers",
    4: "Door-to-door",
    5: "Other",
})

In [12]:
data["base"] = data["base"].astype("category").map({
    1: "Land-based",
    2: "Sea-based",
})

In [13]:
data["highest_grade_completed"] = data["highest_grade_completed"].astype("category").map({
    1: "Elementary undergraduate",
    2: "Elementary graduate",
    3: "High school undergraduate",
    4: "High school graduate",
    5: "Technical-vocational undergraduate",
    6: "College undergraduate",

    # these values represent distinct graduate degrees, probably defined by PSOC 1992
    # merging them
    50: "Technical-vocational graduate",
    51: "Technical-vocational graduate",
    52: "Technical-vocational graduate",
    53: "Technical-vocational graduate",
    54: "Technical-vocational graduate",
    55: "Technical-vocational graduate",
    56: "Technical-vocational graduate",
    57: "Technical-vocational graduate",
    58: "Technical-vocational graduate",
    59: "Technical-vocational graduate",
    60: "College graduate",
    61: "College graduate",
    62: "College graduate",
    63: "College graduate",
    64: "College graduate",
    65: "College graduate",
    66: "College graduate",
    67: "College graduate",
    68: "College graduate",
    69: "College graduate",
})

In [14]:
data[data["highest_grade_completed"] == 90]

Empty DataFrame
Columns: [region, hhnum, sample_replicate, sample_stratum, sample_psu, sample_rotation, line_num, relationship_to_head, sex, age, times_left, date_left_m, date_left_y, marital_status, highest_grade_completed, occupation_home, leaving_reason, base, country, length_of_stay, has_worked, occupation_overseas, no_of_months_worked, returned_home, date_returned_m, date_returned_y, return_reason, expected_return_m, expected_return_y, received_remittance, rem_amt, rem_mode, rem_c_consumption, rem_p_consumption, rem_c_investment, rem_p_investment, rem_c_savings, rem_p_savings, rem_c_gifts, rem_p_gifts, rem_c_other, rem_p_other, returned_last_6m, cash_brought_home, goods_received, goods_value, sample_weight, sample_in_past_6m]
Index: []

[0 rows x 48 columns]

In [15]:
pd.options.display.max_columns = None
data.loc[744:747]

,region,hhnum,sample_replicate,sample_stratum,sample_psu,sample_rotation,line_num,relationship_to_head,sex,age,times_left,date_left_m,date_left_y,marital_status,highest_grade_completed,occupation_home,leaving_reason,base,country,length_of_stay,has_worked,occupation_overseas,no_of_months_worked,returned_home,date_returned_m,date_returned_y,return_reason,expected_return_m,expected_return_y,received_remittance,rem_amt,rem_mode,rem_c_consumption,rem_p_consumption,rem_c_investment,rem_p_investment,rem_c_savings,rem_p_savings,rem_c_gifts,rem_p_gifts,rem_c_other,rem_p_other,returned_last_6m,cash_brought_home,goods_received,goods_value,sample_weight,sample_in_past_6m
744,Cagayan Valley,620,3,22111,1590,28,2,Spouse,Female,40,2,11,2013,Married,College undergraduate,21,Contract Worker,Land-based,211,25,1,913.0,46.0,2,NaN,NaN,NaN,12.0,2015.0,1,36000.0,Bank,1.0,50.0,2.0,50.0,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,2,NaN,300.2987,1.0
745,Cagayan Valley,621,3,22111,1590,28,1,Head,Male,45,1,12,2014,Married,High school graduate,832,Contract Worker,Land-based,234,2,1,921.0,2.0,1,2.0,2015.0,Other,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,2,NaN,288.8942,2.0
746,Cagayan Valley,622,3,22111,1590,28,3,Child,Female,54,1,9,2013,Divorced,College undergraduate,21,Contract Worker,Land-based,232,27,1,913.0,24.0,2,NaN,NaN,NaN,12.0,2015.0,1,44000.0,Bank,1.0,100.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,2,NaN,281.6041,1.0
747,Cagayan Valley,623,3,22111,1590,28,4,Child-in-law,Female,27,1,10,2014,Married,College graduate,131,Contract Worker,Land-based,234,36,1,411.0,11.0,2,NaN,NaN,NaN,10.0,2017.0,1,60000.0,Other,1.0,100.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,2,NaN,428.3912,1.0

In [16]:
# convert values to a bool 
data["has_worked"] = data["has_worked"].map({1: 1, 2: 0}).astype("boolean")
data["returned_home"] = data["returned_home"].map({1: 1, 2: 0}).astype("boolean")
data["sample_in_past_6m"] = data["sample_in_past_6m"].map({1: 1, 2: 0}).astype("boolean")
data["rem_c_consumption"] = data["rem_c_consumption"].map({None: 0, 1: 1}).astype("boolean")
data["rem_c_investment"] = data["rem_c_investment"].map({None: 0, 2: 1}).astype("boolean")
data["rem_c_savings"] = data["rem_c_savings"].map({None: 0, 3: 1}).astype("boolean")
data["rem_c_gifts"] = data["rem_c_gifts"].map({None: 0, 4: 1}).astype("boolean")
data["rem_c_other"] = data["rem_c_other"].map({None: 0, 5: 1}).astype("boolean")
data["goods_received"] = data["goods_received"].map({1: 1, 2: 0}).astype("boolean")

In [17]:
# remove integer-encoded N/A values
data.loc[data["date_left_m"] == 99, "date_left_m"] = None
data.loc[data["date_returned_m"] == 99, "date_returned_m"] = None
data.loc[data["expected_return_m"] == 99, "expected_return_m"] = None

In [18]:
# convert to floats for compatibility with inf
data["length_of_stay"] = data["length_of_stay"].astype("float64")

# replace encoded Infinity values
data.loc[data["length_of_stay"] == 88, "length_of_stay"] = np.inf

In [19]:
# drop all non-working people
data = data[data["has_worked"] == True]

In [20]:
data.head(20)

,region,hhnum,sample_replicate,sample_stratum,sample_psu,sample_rotation,line_num,relationship_to_head,sex,age,times_left,date_left_m,date_left_y,marital_status,highest_grade_completed,occupation_home,leaving_reason,base,country,length_of_stay,has_worked,occupation_overseas,no_of_months_worked,returned_home,date_returned_m,date_returned_y,return_reason,expected_return_m,expected_return_y,received_remittance,rem_amt,rem_mode,rem_c_consumption,rem_p_consumption,rem_c_investment,rem_p_investment,rem_c_savings,rem_p_savings,rem_c_gifts,rem_p_gifts,rem_c_other,rem_p_other,returned_last_6m,cash_brought_home,goods_received,goods_value,sample_weight,sample_in_past_6m
0,Ilocos,1,1,21125,10,26,81,Other relative,Female,59,3,1.0,2015,Widowed,High school graduate,131,Immigrant,NaN,500,18.0,True,513.0,24.0,False,NaN,NaN,NaN,7.0,2016.0,1,60000.0,Bank,True,100.0,False,NaN,False,NaN,False,NaN,False,NaN,2,NaN,True,7500.0,483.3481,<NA>
1,Ilocos,2,1,21125,10,26,3,Child,Male,29,1,7.0,2012,Single,College graduate,223,Contract Worker,Land-based,213,36.0,True,222.0,36.0,True,7.0,2015.0,End of contract,NaN,NaN,1,15000.0,Bank,True,100.0,False,NaN,False,NaN,False,NaN,False,NaN,1,50000.0,True,8000.0,512.6429,True
2,Ilocos,2,1,21125,10,26,4,Child,Female,25,1,4.0,2012,Married,College graduate,223,Contract Worker,Land-based,233,24.0,True,223.0,24.0,True,4.0,2014.0,End of contract,NaN,NaN,2,NaN,NaN,False,NaN,False,NaN,False,NaN,False,NaN,False,NaN,1,60000.0,False,NaN,539.1801,False
3,Ilocos,2,1,21125,10,26,10,Child,Male,30,4,1.0,2015,Single,College graduate,512,Contract Worker,Land-based,234,12.0,True,512.0,40.0,False,NaN,NaN,NaN,1.0,2016.0,1,48000.0,Bank,True,100.0,False,NaN,False,NaN,False,NaN,False,NaN,2,NaN,True,8000.0,512.6429,True
4,Ilocos,3,1,21125,10,26,2,Child,Male,35,2,2.0,2011,Married,High school graduate,721,Non-OCW Worker,Land-based,214,36.0,True,826.0,45.0,True,12.0,2013.0,End of contract,NaN,NaN,2,NaN,NaN,False,NaN,False,NaN,False,NaN,False,NaN,False,NaN,2,NaN,False,NaN,477.4089,False
5,Ilocos,4,3,21331,20,28,4,Child-in-law,Male,25,1,1.0,2014,Married,College graduate,921,Contract Worker,Land-based,221,24.0,True,513.0,20.0,False,NaN,NaN,NaN,1.0,2016.0,1,48000.0,Bank,True,50.0,False,NaN,True,50.0,False,NaN,False,NaN,2,NaN,False,NaN,513.8142,True
6,Ilocos,5,2,22128,17,26,2,Spouse,Female,43,2,2.0,2013,Married,Technical-vocational graduate,223,Contract Worker,Land-based,233,36.0,True,323.0,57.0,False,NaN,NaN,NaN,2.0,2016.0,1,48000.0,Door-to-door,True,100.0,False,NaN,False,NaN,False,NaN,False,NaN,2,NaN,False,NaN,318.3688,True
7,Ilocos,6,2,22128,17,26,2,Spouse,Female,29,1,2.0,2015,Married,High school graduate,911,Contract Worker,Land-based,222,24.0,True,913.0,7.0,False,NaN,NaN,NaN,2.0,2017.0,1,15000.0,Other,True,100.0,False,NaN,False,NaN,False,NaN,False,NaN,2,NaN,False,NaN,361.9497,True
8,Ilocos,7,2,22128,17,26,4,Grandchild,Female,28,1,9.0,2015,Married,College graduate,21,Contract Worker,Land-based,211,24.0,True,913.0,0.0,False,NaN,NaN,NaN,9.0,2017.0,2,NaN,NaN,False,NaN,False,NaN,False,NaN,False,NaN,False,NaN,2,NaN,False,NaN,361.9497,True
9,Ilocos,8,2,22128,17,26,3,Other relative,Female,28,1,1.0,2015,Single,High school graduate,913,Contract Worker,Land-based,213,36.0,True,825.0,8.0,False,NaN,NaN,NaN,1.0,2018.0,1,11000.0,Other,True,100.0,False,NaN,False,NaN,False,NaN,False,NaN,2,NaN,False,NaN,361.9497,True
10,Ilocos,9,2,22128,17,26,8,Child,Female,29,1,8.0,2015,Widowed,High school graduate,913,Contract Worker,Land-based,400,24.0,True,513.0,1.0,False,NaN,NaN,NaN,8.0,2017.0,2,NaN,NaN,False,NaN,False,NaN,False,NaN,False,NaN,False,NaN,2,NaN,False,NaN,361.9497,True
11,Ilocos,10,2,22128,17,26,3,Child,Male,27,1,8.0,2014,Married,High school graduate,921,Contract Worker,Land-based,233,24.0,True,832.0,13.0,False,NaN,NaN,NaN,8.0,2016.0,2,NaN,NaN,False,NaN,False,NaN,False,NaN,False,NaN,False,NaN,2,NaN,False,NaN,344.1354,True
12,Ilocos,11,2,22128,17,26,3,Child-in-law,Female,27,1,8.0,2015,Divorced,Elementary graduate,21,Contract Worker,Land-based,221,24.0,True,913.0,1.0,False,NaN,NaN,NaN,8.0,2017.0,2,NaN,NaN,False,NaN,False,NaN,False,NaN,False,NaN,False,NaN,2,NaN,False,NaN,361.9497,True
13,Ilocos,12,2,21117,21,26,2,Spouse,Female,39,1,9.0,2014,Married,College undergraduate,21,Contract Worker,Land-based,211,24.0,True,913.0,12.0,False,NaN,NaN,NaN,9.0,2016.0,1,60000.0,Other,True,100.0,False,NaN,False,NaN,False,NaN,False,NaN,2,NaN,False,NaN,474.2595,True
14,Ilocos,13,2,21117,21,26,2,Spouse,Female,38,2,4.0,2015,Married,High school graduate,21,Contract Worker,Land-based,222,24.0,True,913.0,36.0,False,NaN,NaN,NaN,4.0,2017.0,1,42000.0,Other,True,100.0,False,NaN,False,NaN,False,NaN,False,NaN,2,NaN,True,12000.0,474.2595,True
15,Ilocos,14,2,21117,21,26,4,Child,Female,29,1,3.0,2012,Married,College graduate,223,Contract Worker,Land-based,233,24.0,True,223.0,24.0,True,3.0,2014.0,End of contract,NaN,NaN,2,NaN,NaN,False,NaN,False,NaN,False,NaN,False,NaN,False,NaN,2,NaN,False,NaN,539.1801,False
16,Ilocos,15,3,22214,32,28,4,Child-in-law,Female,23,1,5.0,2015,Married,College undergraduate,21,Contract Worker,Land-based,222,24.0,True,913.0,4.0,False,NaN,NaN,NaN,5.0,2017.0,2,NaN,NaN,False,NaN,False,NaN,False,NaN,False,NaN,False,NaN,2,NaN,False,NaN,500.0814,True
17,Ilocos,16,3,22214,32,28,4,Other relative,Male,33,1,12.0,2014,Single,College graduate,522,Contract Worker,Land-based,221,7.0,True,223.0,7.0,True,7.0,2015.0,End of contract,NaN,NaN,2,NaN,NaN,False,NaN,False,NaN,False,NaN,False,NaN,False,NaN,1,50000.0,True,10000.0,515.7664,True
18,Ilocos,17,3,22214,32,28,6,Child-in-law,Female,29,2,4.0,2015,Married,High school graduate,913,Contract Worker,Land-based,222,12.0,True,913.0,34.0,False,NaN,NaN,NaN,4.0,2016.0,1,10000.0,Other,True,100.0,False,NaN,False,NaN,False,NaN,False,NaN,2,NaN,False,NaN,542.4652,True
19,Ilocos,18,1,22104,42,26,4,Child,Male,31,2,10.0,2013,Single,Technical-vocational graduate,724,Contract Worker,Land-based,233,24.0,True,311.0,47.0,False,NaN,NaN,NaN,10.0,2015.0,1,48000.0,Bank,True,80.0,False,NaN,True,20.0,False,NaN,False,NaN,2,NaN,False,NaN,514.5951,True

In [21]:
data[data["base"] == 2]["country"]

Series([], Name: country, dtype: int64)